<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ .Params.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {{ partial "styles.html" . }}
  </head>

  <body id="page-top">

    <!-- Header -->
    {{ partial "header.html" . }}

    <!-- About Section -->
    <section class="portfolio-section content-section">
      <div class="container">
        <div class="row header">
          <div class="col-lg-10">
            <h1>{{ .Params.title }}</h1>
          </div>
        </div>
        <div class="row" >
            <div class="col-lg-2 mx-auto">
                <ul>
                  {{ range .Params.Categories }}
                  <li>{{.}}</li>
                  {{ end }}
                </ul>
              </div>
          <div class="col-lg-6 ">
            <img class="img-thumbnail" src="/img/portfolio/{{ .Params.photo }}">
          </div>
          <div class="col-lg-4 mx-auto">
              {{ .Content }}
          </div>
   
        
        </div>
    </section>

    <!-- Footer -->
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>

</html>