<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Humanity</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {{ partial "styles.html" . }}
  </head>

  <body id="page-top">

    <!-- Header -->
    {{ partial "header.html" . }}

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h1 class="brand-heading">Humanity<span id="homePagePeriod">.</span></h1>
              <p class="intro-text">we launch
              <br />
              <span class="typed">
              </p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section black text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Humanity is an entertainment marketing agency and talent content studio. We specializes in celebrity partnerships and digital marketing for businesses in the consumer lifestyle space.</h2>
            <p>3 circles go image</p>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section content-section text-center">
      <div class="container">
          <div class="row">
            <div class="col-md-3"><h2>Brand Strategy</h2>
              <ul>
                <li>Brand Identity</li>
                <li>Brand Positioning</li>
                <li>Logos/Packaging</li>
                <li>Sponsorships</li>
                <li>Brand Partnerships</li>
              </ul>
            </div>
            
            <div class="col-md-3">
              <h2>Influencer Marketing</h2>
              <ul>
                  <li>Endorsements</li>
                  <li>Licensing</li>
                  <li>Social Content</li>
                  <li>Ambassador Programs</li>
                  <li>Campaigns</li>
                </ul>
            </div>
            <div class="col-md-3"><h2>Product Launch</h2>      
              <ul>
                <li>Talent Procurement</li>
                <li>Influencer Collections</li>
                <li>Experiential Activations</li>
                <li>International Distribution</li>
                <li>Publicity</li>
              </ul></div>
            <div class="col-md-3"><h2>Technology</h2>      
              <ul>
                <li>E-commerce</li>
                <li>Web & Mobile Development</li>
                <li>Digital Marketing</li>
                <li>UI/UX Design</li>
                <li>CMS</li>
                <li>SEO</li>
              </ul></div>
          </div>
      </div>
    </section>
    <section id="portfolio" class="portfolio-section content-section text-center">
      <div class="container col-lg-12 mx-auto">
        <h1>Recent Work</h1>
        <div class="row">
          <div  class="col-md-4"><img class="img-thumbnail" src="/img/simply.png"></div>
          <div  class="col-md-4"><img class="img-thumbnail" src="/img/zen.png"></div>
          <div  class="col-md-4"><img class="img-thumbnail" src="/img/entourage.png"></div>
        </div>
        <div class="row">
          <div  class="col-md-4"><img class="img-thumbnail" src="https://static1.squarespace.com/static/594903b317bffc5dba0392bf/59490d21893fc05780104ec8/59490d471b10e3798d8a5c77/1497959752279/adidas.jpg?format=600w"></div>
          <div  class="col-md-4"><img class="img-thumbnail" src="https://static1.squarespace.com/static/594903b317bffc5dba0392bf/59490c8c414fb5fe4354fecb/59490caee58c62bbb5b99b83/1497959647691/appcopia.jpg?format=600w"></div>
          <div  class="col-md-4"><img class="img-thumbnail" src="img/waterplus.jpg"></div>
        </div>
      </div>
    </section>

    <section id="leadership" class="leadership-section content-section black text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <h2>Leadership Matters</h2>
            <p>Our team leads have started 7 companies and have held top postions at the leading comapnies and agencies around the globe.</p>
          </div>
          <ul class="row leadership-masthead">
            {{ range where .Data.Pages.ByDate "Section" "leadership" }}
            <li class="col-md-4 leadership-plaque"><a href="{{ .Permalink }}"><p class="leadership-name">{{ .Params.Name }}</p><p class="leadership-title">{{ .Params.JobTitle }}</p></a></li>
            {{ end }}
          </ul>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <h2>Contact Humanity</h2>
              <p>Let us know how we can help you</p>
              <a class="typeform-share button" href="https://michael1298.typeform.com/to/rMBXS9" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#64ffda;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Contact Us </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

    <script>
      $().ready(function (){
        var typed = new Typed('.typed', {
          strings: ["campaigns.", "talent.", "products.","brands."],
          typeSpeed: 60,
          fadeOut: true
        });


      });

    </script>

  </body>

</html>
